parameters:
    level: 9
    paths:
        - core/
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - phpstan-stubs.php
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
