parameters:
    level: 9
    paths:
        - app/Services/
        - core/
    bootstrapFiles:
        - phpstan-bootstrap.php
    stubFiles:
        - phpstan-stubs.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: true
    parallel:
        maximumNumberOfProcesses: 2
        processTimeout: 300.0
    ignoreErrors:
        # ── Include ALL ignore rules from both configs ──
        # (merged from phpstan_check.neon and phpstan_core.neon for full scan)
        - '#no value type specified in iterable#'
        - '#has parameter \$\w+ with no value type specified in iterable#'
        - '#return type has no value type specified in iterable#'
        - '#Access to an undefined property object::\$#'
        - '#Cannot access property \$[a-z_]+ on mixed\.#'
        - '#always true\.#'
        - '#always false\.#'
        - '#Negated boolean expression is always#'
        - '#is never read, only written\.#'
        - '#is unused\.#'
        - '#[Uu]nreachable statement#'
        - '#Ternary operator condition is always true#'
        - '#Parameter \#1 \$value of function intval expects#'
        - '#Parameter \#1 \$value of function floatval expects#'
        - '#Parameter \#1 \$value of function strval expects#'
        - '#Parameter \#1 \$command of function escapeshellcmd expects string#'
        - '#Parameter \#1 \$arg of function escapeshellarg expects string#'
        - '#Parameter \#1 \$string of function md5 expects string#'
        - '#Parameter \#1 \$string of function hash expects string#'
        - '#Parameter \#2 \$data of function hash expects string#'
        - '#Parameter \#1 \$stream of function fputcsv expects resource#'
        - '#Parameter \#1 \$stream of function fprintf expects resource#'
        - '#Call to an undefined method object::#'
        - '#Call to an undefined method .*::setSaga|finance|setMany|recordTaskCompletion|isBlacklisted|executeWithLock|transactional|getOrSet|cancelRound#'
        - '#Cannot call method fetchColumn\(\) on PDOStatement\|false#'
        - '#Cannot call method \w+\(\) on Redis\|null#'
        - '#Cannot call method \w+\(\) on Redis\|false#'
        - '#Cannot access offset#'
        - '#Expression on left side of \?\? is not nullable#'
        - '#Call to function is_array\(\) with object\|null will always#'
        - '#Call to function is_array\(\) with object will always#'
        - '#Using nullsafe method call on non-nullable type#'
        - '#Anonymous function has an unused use#'
        - '#Strict comparison using .* will always#'
        - '#Constructor of class .* has an unused parameter#'
        - '#Variable \$\w+ on left side of \?\? always exists#'
        - '#Parameter \#2 \$context of method .*error\(\) expects array#'
        - '#Parameter \#2 \$context of method .*warning\(\) expects array#'
        - '#Parameter \#6 .* expects string, mixed given#'
        - '#PHPDoc tag @param references unknown parameter#'
        - '#Cannot cast mixed#'
        - '#Cannot access property \$\w+ on mixed\.#'
        - '#Cannot call method \w+\(\) on mixed\.#'
        - '#Part \$[a-zA-Z_]+ \(mixed\) of encapsed#'
        - '#has no return type specified#'
        - '#has parameter \$\w+ with no type specified#'
        - '#should return (array|static) but returns#'
        - '#Function (db|app)\(\) has invalid return type#'
        - '#Instanceof between#'
        - '#Result of method Core\\Response::(json|redirect)\(\) \(void\)#'
        - '#Call to function is_(double|float)\(\) with int\|string#'
        - '#Property .* has no type#'
        - '#Parameter \#\d+ \$\w+ of function \w+ expects#'
        - '#Parameter \#\d+ \$\w+ of method Core\\\w+::\w+\(\) expects#'
        - '#Parameter \#\d+ \$\w+ of function (json_decode|parse_url|preg_replace|count|date|strtolower|rtrim|str_contains|session_name|session_set_cookie_params|setcookie|fwrite|url|rawurlencode|base64_encode|fgetcsv|curl_close|gzencode|class_exists|substr|explode|array_keys|array_values|natsort|strpos|preg_match|strtotime|hash_hmac|trim|finfo_file|finfo_close) expects#'
        - '#Parameter \#\d+ \$\w+ of class Core\\\w+ constructor#'
        - '#Parameter \#\d+ \$\w+ of method Core\\Model::loadRelations\(\)#'
        - '#Parameter \#\d+ \$\w+ of static method Core\\\w+::#'
        - '#Parameter \#\d+ \$\w+ of method Core\\Minifier::minify(CSS|JS)\(\)#'
        - '#Parameter \#\d+ \$\w+ of method Core\\Response::(json|redirect)\(\)#'
        - '#Parameter \#1 \$host of method Redis::connect\(\)#'
        - '#Parameter \#1 \$css of method Core\\Minifier::minifyCSS\(\)#'
        - '#Parameter \#1 \$js of method Core\\Minifier::minifyJS\(\)#'
        - '#Parameter \#1 \$errors of class Core\\Exceptions\\ValidationException#'
        - '#Parameter \#2 \$message of class Core\\Exceptions\\ValidationException#'
        - '#Argument of an invalid type object supplied for foreach#'
        - '#Constant user not found#'
        - '#Constant [A-Z_]+ not found#'
        - '#Offset .+ on array\{.+\} on left side#'
        - '#Dead catch#'
        - '#Else branch is unreachable#'
        - '#Left side of && is always true#'
        - '#Result of \|\| is always false#'
        - '#Cannot call method handle\(\) on class-string\|object#'
        - '#Undefined variable: \$\w+#'
        - '#Property .* does not accept#'
        - '#Method .* invoked with#'
        - '#with generic class .* does not specify#'
        - '#Unsafe usage of new static#'
        - '#Deprecated in PHP#'
        - '#Parameter \#\d+ cannot be both nullable and variadic#'
        - '#Unable to resolve the template type#'
        - '#Instantiated class GeoIp2#'
        - '#Call to method city\(\) on an unknown class#'
        - '#Parameter \#1 \$objectOrClass of class ReflectionClass constructor#'
