.git
.github
.vscode
.idea
vendor/
node_modules/
storage/logs/*.log
storage/cache/*
storage/uploads/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*.php
.phpunit.result.cache
.phpunit.cache/
chortke.rar
pb_dump.txt
test_resolve.php
find_bootstrap_ref.php
#Dockerfile
docker-compose.yml
#docker/
.env
