includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - app/
        - core/
    excludePaths:
        - app/Views/*
        - app/Cache/*
        - core/Cache/*
    bootstrapFiles:
        - phpstan-bootstrap.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
    universalObjectCratesClasses:
        - stdClass
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
